
h1{
    font-family: "Spicy Rice";
    text-align: center;
    color:lawngreen;
 }

p{
    font-family: "Lato";
    text-align: center;
    color:yellowgreen;
}

/*

font-family: 'Spicy Rice', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

*/